a, a:focus, a:hover, a:visited, a:link, a:active {
  color: inherit;
  text-decoration: none;
}

.messageTop {
  margin-top: 1em !important;
}

.paginatedCardGroup .pagination {
  margin-top: 1em;
  margin-bottom: 1em;
}

.brandControls .searchBar,
.bottleControls .dropdown,
.recipeControls .pantryToggle,
.recipeControls .pantryFilter,
.recipeControls .searchBar {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.recipeControls .searchBar {
  display: inline-block;
}

.recipeControls .sortOrder {
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
}

.recipeControls .pantryFilter {
  margin-left: 1em;
}

.recipeControls .pantryToggle {
  margin-left: 0.5em;
  cursor: pointer;
}

.pantryItems {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  grid-row-gap: 0.5em;
  list-style: none;
  padding: 0;
  margin: 0;
}

#root > .container {
  margin-bottom: 70px;
}
