.recipesList .pagination {
  margin-top: 1em;
}

.recipeControls .filters {
  margin-top: 0.5em;
}

.recipeControls .searchBar {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
}

.recipeControls .sortOrder {
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
}
