.paginatedCardGroup--pagination {
  margin-bottom: 1em;
}

.searchBar {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
}

.radioList {
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: inline-block;
}
